@import "tailwindcss";

@theme {
  --font-tajawal: var(--font-tajawal);
  --font-sans: var(--font-tajawal), ui-sans-serif, system-ui, sans-serif;

  --color-primary: #2f5233;
  /* Deep localized green */
  --color-primary-hover: #1e3a22;
  --color-secondary: #8c6239;
  /* Moroccan earth */
  --color-accent: #d4a373;
  /* Sand/Argon oil */
  --color-background: #fcfcfc;
  --color-surface: #f5f5f4;
}

@layer base {
  body {
    @apply bg-background text-stone-800 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight text-primary;
  }

  h1,
  h2 {
    text-shadow: 2px 2px 0px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  }
}

@layer utilities {
  .rtl-grid {
    direction: rtl;
  }
}